$color-neutral-900: hsl(194, 78%, 11%);
$color-neutral-700: hsl(195, 23%, 28%);
$color-neutral-200: hsl(17, 12%, 89%);
$color-neutral-100: hsl(17, 41%, 97%);
$color-neutral-0: hsl(0, 0%, 100%);
$light-salmon500: hsl(22, 99%, 72%);
$light-salmon100: hsl(22, 100%, 91%);
$light-salmon50: hsl(23, 100%, 97%);
$text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
$color-gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
$color-gradient-2: linear-gradient(90deg, var(--color-neutral-700) 0%, var(--color-neutral-900) 100);