@media (min-width: 768px) {
	.header__img {
		background-image: url(../tech-book-club-landing-page/starter-code/assets/images/image-hero-tablet.webp);
	}

	.main__img--1--mobile {
		display: none;
	}
	.main__img--1--tablet {
		display: block;
		position: relative;
	}
	.main__img--2--logos {
		position: absolute;
		bottom: 7%;
		right: 7%;
	}
	.membership {
		&__boxes {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			gap: 30px;
		}
		&__box {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: calc(50% - 30px);
		}
	}
	.footer__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
