@use './color.scss' as *;
@use './font.scss' as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.wrapper {
	padding: 1.8em 1.4em;
}
// HEADER

.header {
	background-color: $light-salmon50;
	background-image:
		url('../tech-book-club-landing-page/starter-code/assets/images/pattern-glow.svg'),
		url('../tech-book-club-landing-page/starter-code/assets/images/pattern-light-bg.svg');
	background-position: top 450px left 250px;
	background-repeat: repeat;
	&__heading {
		font-family: $font-family-mono;
		font-size: 3.2rem;
		color: $color-neutral-900;
		background: $text-gradient;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 0.2em;
	}
	&__logo {
		margin-bottom: 2em;

		img {
			height: 40px;
		}
	}
	&__img {
		width: 100%;
		border-radius: 10px;
		padding-bottom: 3em;
	}
	&__text {
		font-size: 1rem;
		font-family: $font-family-inter;
		color: $color-neutral-700;
		margin-bottom: 1.2em;
	}
	&__btn {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-size: 1rem;
		text-transform: uppercase;
		font-family: $font-family-mono;
		color: $color-neutral-900;
		padding: 1.2em 0.8em;
		background-color: $light-salmon100;
		border-radius: 10px;
		border: 3px solid $color-neutral-900;
		margin-bottom: 1.2em;
	}
}
.members {
	display: flex;
	align-items: center;
	margin-bottom: 3em;
	.avatars {
		width: 40%;
	}
	&__notice {
		padding-left: 1em;
		&--text {
			font-family: $font-family-mono;
			font-size: 0.8rem;
		}
	}
}

// MAIN
.main {
	&__heading {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 2.2rem;
		font-family: $font-family-mono;
		color: $color-neutral-900;
	}
	&__img {
		width: 100%;
		border-radius: 10px;
	}
}
.box {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
	&__img {
		padding-right: 1em;
	}
	&__text {
		font-size: 1.2rem;
		font-family: $font-family-inter;
		span {
			font-weight: bold;
		}
	}
}
.heading__decoration {
	span {
		position: relative;
	}
}
.main__heading--img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 4px;
	transform: scale(1.4);
}
